/vendor/
composer.lock
/coverage/
/.phpunit.result.cache
/.idea/dictionaries/project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/dataSources.xml
/.idea/laravel-idea.xml
/.idea/laravel-idea-personal.xml
/.idea/laravel-signhost.iml
/.idea/material_theme_project_new.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/phpunit.xml
/.idea/vcs.xml
/.ai/mcp/mcp.json
/.idea/queries/Query.sql
/.idea/queries/Query_1.sql
/.idea/queries/Query_2.sql
/.idea/queries/Query_3.sql
/.idea/queries/Query_4.sql
/.idea/queries/Query_5.sql
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/data_source_mapping.xml
/.idea/db-forest-config.xml
/.idea/php-test-framework.xml
/.junie/mcp/mcp.json
/.junie/guidelines.md
.DS_Store
